<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.logo | relURL }}" alt="logo">
        </a>
        <span class="navbar-text">|</span>
        <div class="social-icons">
            <a href="#"><img src="{{ "images/twitter.png" | relURL }}" alt=""></a>
            <a href="#"><img src="{{ "images/instagram.png" | relURL }}" alt=""></a>
            <a href="#"><img src="{{ "images/pinterest.png" | relURL }}" alt=""></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
